@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

/* share color */
p {
    color: rgba(255, 255, 255, 0.5);
}

/* Header and Nav Section */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17, 0.93), rgb(1, 1, 1) 100%);
}

.header-container {
    width: 75%;
    max-height: 715px;
    margin: 0 auto;
    padding: 0 14.537px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 57px 0 32px 0;
    margin: 0 auto;
}

.header-content p {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 2.7rem;
}

.span1 {
    color: #ffffff;
    height: 24px;
    width: 24px;
    display: none;
}

.span2 {
    font-family: 'Miama', sans-serif;
    font-style: normal;
    font-size: 9.2rem;
    font-weight: 400;
    font: italic;
    line-height: 5.85rem;
}

.header-content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.44rem;
    padding: 12px 4px 12px 4px;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.13rem;

}

#active {
    background-color: #E6533C;
    color: #ffffff;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 2.9rem;
}

/* hero-containt-section*/
.hero-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14.537px;
}

.header-container .hero-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 79px 0 auto;
}

.hero-content h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 4.88rem;
    font-weight: 900;
    line-height: 5.85rem;
}

.hero-content p {
    margin: 28px 0 28px 0;
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 28px 0;
    letter-spacing: 0.5px;

}

.button-content {
    display: flex;
    justify-content: stretch;
    gap: 14px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 76px;
}

.hero-content .btn1 {
    color: #ffffff;
    background-color: #E6533C;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    font-size: 1.13rem;
    font-weight: 600;
}

.hero-content .btn2 {
    color: #ffffff;
    background-color: inherit;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 1.13rem;
    font-weight: 600;
    border: 1px solid #ffffff;
}

.hero-img {
    position: relative;
    margin: 0 0 2.5rem 0;
    padding: 0;

}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.hero-img .img-conrainer1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    width: 210px;
    max-height: 96px;
    padding: 20px 23px;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    gap: 12px;
    position: absolute;
    bottom: 63px;
    left: -100px;
}

.red-ball {
    height: 40px;
    width: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

.ball-content h3 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}

.ball-content p {
    color: #EFEDE8A6;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: left;
}

.img-conrainer2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    max-width: 193px;
    height: 96px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    align-items: left;
    color: white;
    position: absolute;
    top: 125px;
    right: -50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img-conrainer2 h2 {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

.img-conrainer2 p {
    margin-top: 4px;
    font-size: 14px;
}

/* habit secton */

.habits-section {
    background-color: black;
    padding: 0 14.537px;
}

.habits-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 58px 0;
    gap: 14px;
}

.habits-contents h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900px;
}

.habits-contents p {

    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.3px;
    font-size: 0.88rem;
}

/* habits-photos-section */
.habits-photos {
    display: flex;
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.habits-img {
    align-items: center;
    text-align: center;
    color: white;

}

.habits-img img {
    border-radius: 50%;
}

.habits-img h1 {
    margin: 25px 0 8px 0;
}

.habits-img p {
    line-height: 22px;
    margin-bottom: 100px;
}

/* Run Section */
.run-section {
    background-color: black;
    padding: 0 14.537px;
}

.run-container {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    column-gap: 160px;
    overflow: auto;
}

.run-contents {
    padding: 41px 0 40px 54px;
}

.run-contents h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.6rem;
}

.run-contents p {
    margin: 25px 0 50px 0;
    line-height: 24px;
    font-size: 0.88rem;
    letter-spacing: 0.3px;
}


.btn3 {
    color: white;
    background-color: #E6533C;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 34px;
}

.image-contents {
    padding: 30px 32px 29px 5px;
}

.image-contents img {
    width: 366px;
    height: 312px;
    border-radius: 35px;
}

/* training section */
.traning {
    background-color: black;

}

.traning-content {
    background-color: black;
    width: 75%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    padding: 6.25rem 14.537px 3.63rem 14.537px;
}

.traning-content h1 {
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 0.3px;
    margin-bottom: 14px;
}

.traning-content p {
    font-size: 0.88rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
}

.photos-container {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.training-photos1 {
    background-color: black;
    margin: 0 auto;
    padding: 0 14.537px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

.training-photos1 .training-photo {
    width: 100%;
    height: auto;
}

.training-photos2 {
    background-color: black;
    margin: 0 auto;
    padding: 0 14.537px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 45% 25% 30%;
}

.training-photos2 .training-photo {
    width: 100%;
    height: auto;
}

.training-photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.training-photo {
    position: relative;

}

.training-photo .para1 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: black;
}

.training-photo .para2 {
    position: absolute;
    top: 30px;
    left: 20px;
    color: black;
}

.training-photo .para3 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}

.training-photo .para4 {
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
}

.training-photo .para5 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}

.training-photo .para6 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}

/* BMI Calculator */

.bmi-calculator {
    background-color: black;

}

.bmi-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.bmi-content {
    margin: 88px 14.537px;
}

.bmi-content h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-content p {
    font-size: 0.88rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* BMI chart */
.bmi-cal-chat {
    background: rgba(34, 34, 34, 1);
}

.bmi-chart-container {
    width: 75%;
    margin: 0 auto;
    padding: 0 14.537px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.bmi-table {
    margin: 52px 0 133px 0;
}

.bmi-table h2 {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 33.6px;
    margin-bottom: 52px;
}


td {
    padding: 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.88rem;
    line-height: 16.8px;

}

th {
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 20px;
    color: white;
    text-align: left;
    line-height: 16.8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bmi-form {
    padding: 49px 0 52px 0;
}

.bmi-form h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 1.75rem;
}

.bmi-form p {
    font-size: 0.88rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 14px 0 34px 0;
}

.bmi-form form {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.form-design {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px;
}

.inputdiv {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin: 12px auto;
}

select {
    color: rgba(255, 255, 255, 0.6);
}

form #height,
#ages,
#info,
#Weight {
    width: 100%;
    border-radius: 8px;
}

#info2 {
    width: 100%;
    border-radius: 8px;
}

/* Meet Our Team styles */

.our-team {
    background-color: black;

}

.teams {
    padding: 0 18.71px 88px 18.71px;

}

.meets-contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 88px 14.537px 58px 14.537px;
    gap: 14px;

}

.meets-contents h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 3rem;

}

.meets-contents p {
    font-size: 0.88rem;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.team-photos {
    width: 75%;
    background-color: #282727;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 16px;
    gap: 20px;
    padding: 20px;
}

.team-photo {
    max-height: 300px;
    position: relative;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.team-photo img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
    filter: brightness(80%);
    object-fit: cover;
}

.photo-content h3 {
    color: white;
}

.photo-content p {
    color: lightgray;
    margin-top: 5px;
}

.team-photo .photo-content {
    position: absolute;
    top: 215px;
    padding: 16px;
}

/* footer section */
footer {
    background: rgba(26, 26, 26);
}


.footer-container {

    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 14.537px 0 14.537px;
    gap: 10px;

}

.footer-content {

    margin: 66px 0 79px 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-content h1 {
    color: #E6533C;
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
}

.footer-content p {
    font-size: 0.88rem;
    margin: 10px 0 73px 0;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.footer-content h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content li {
    margin: 20px 0;
}

.footer-content ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    line-height: 27px;
    font-size: 1.44rem;
}

#hrbar {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);

    width: 75%;
    margin: 0 auto;
    padding: 0 14.537px 0 14.537px;

}

.copyright {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.copyright p {
    color: #FFFFFF80;
    padding: 36px 0 35px 0;
    font-size: 1.25rem;
    letter-spacing: 0.3px;
}

/* Responsive Media Query section */

@media screen and (max-width:576px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* header-section */

    .header-container {
        margin: auto;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .header-container .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 52px 20px 51px 20px;
    }

    .header-content ul {
        display: none;
    }

    .span1 {
        height: 24px;
        width: 24px;
        display: block;
        color: #ffffff;
    }

    .hero-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero-content h1 {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 43.2px;
    }

    .span2 {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 43.2px;
    }

    .hero-content p {
        font-size: 0.88rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px;
        margin: 28px 0;
    }

    .button-content {
        margin-bottom: 48px;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .button-content .btn1 {
        width: 100%;
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 42px;
    }

    .btn-none {
        display: none;
    }


    .button-content .btn2 {
        width: 100%;
        padding: 14px 25px;
        font-size: 14px;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 42px;
    }

    /* hero-section */

    .hero-img {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .hero-img img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .hero-img .img-conrainer1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: left;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 270px;
        left: 10px;
        width: 155px;
        height: 75px;
        border-radius: 9px;
    }

    .ball-content h2 {
        font-size: 1.13rem;
        font-weight: 900;
        letter-spacing: 0.23px;
    }

    .img-conrainer1 h3 {
        padding: 0;
    }

    .img-conrainer1 p {
        padding: 0;
        font-size: 10px;
    }

    .img-conrainer2 {
        position: absolute;
        top: 50px;
        right: 1px;
        width: 145px;
        height: 74px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
    }

    .img-conrainer2 h2 {
        padding: 0;
        font-size: 25px;
    }

    .img-conrainer2 p {
        font-size: 8px;
        padding: 0;
        font-size: 10px;
        text-align: center;
    }

    /* habits-section */
    .habits-contents {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .habits-contents h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .habits-contents p {
        font-size: 0.88rem;
        letter-spacing: 0.3px;
        line-height: 24px;
        margin: 14px 0 58px 0;
    }


    .habits-photos {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .habits-img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .habits-img h1 {
        font-size: 1.13rem;
        font-weight: 600px;
    }

    .habits-img p {
        font-size: 0.88rem;
        line-height: 18px;
        letter-spacing: 0.3px;
        margin: 6px 0 40px 0;
    }

    /* .run-section */
    .run-section {
        margin: 0 auto;
        padding: 0 20px;
    }

    .run-container {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }

    .run-contents {
        padding: 31px 33px;
    }

    .run-contents h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    .run-container p {
        font-size: 0.88rem;
        margin-bottom: 25px;
        letter-spacing: 0.3px;
        line-height: 24px;
        margin: 14px 0 24px 0;
    }

    .run-contents .btn3 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 16px 40px;
    }


    .image-contents {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0 31px 35px 31px;
    }

    .image-contents img {
        width: 100%;
        height: auto;
    }

    /* traning-secton */
    .traning {
        margin: 0;
        padding: 0 20px;
    }

    .traning-content {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;

    }

    .traning-content h1 {
        font-size: 2rem;
        font-weight: 900;
        padding-top: 66px;
    }

    .traning-content p {
        font-size: 0.88rem;
        letter-spacing: 0.3px;
        line-height: 24px;
        padding: 14px 0 38px 0;
    }

    .photos-container {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .training-photos1,
    .training-photos2 {
        grid-template-columns: auto auto;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .training-photo img {
        width: 100%;
        height: auto;
    }

    #three,
    #six {
        display: none;
        width: 100%;
        height: auto;
    }

    /* bmi-section */

    .bmi-container {
        width: 100%;
        margin: 0 auto;
        padding: 30px 20px 32px 20px;

    }

    .bmi-content {
        padding: 0;
        margin: 0;
    }

    .bmi-content h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-bottom: 14px;
    }

    .bmi-content p {
        font-size: 0.88rem;
        line-height: 24px;
        letter-spacing: 0.3px;
    }

    .bmi-cal-chat {
        margin: 0;
        padding: 0 20px;
    }

    .bmi-chart-container {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .bmi-chart-container h2 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 23px;
    }

    .bmi-table {
        width: 100%;
        margin: 0 autos
    }

    .bmi-form {
        margin: 0;
        padding: 0;
    }

    .bmi-form p {
        margin: 0;
    }

    .bmi-form h2 {
        font-size: 20px;
        padding: 0 0 10px 0;
    }


    .teams {
        background-color: black;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 50px;
    }


    .team-photos {
        width: 90%;
        background-color: #282727;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 20px;
    }

    .bell {
        display: none;
    }

    .russell {
        display: none;
    }

    .steward {
        order: 3;
    }

    .webb {
        order: 4;
    }

    .footer-container {
        flex-direction: column;
        width: 100%;
    }

    .footer-content {
        width: 100%;
        justify-content: left;
        align-items: left;
        padding: 0 20px;
        margin: 30px 0 0 0;
    }

    .line-breake {
        display: none;
    }

    #hrbar {
        width: 90%;
        margin-top: 40 auto;
        padding-top: 0;
    }

    .copyright {
        flex-direction: row;
        width: 100%;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .copyright p {
        margin-bottom: 10px;
        padding: 20px;
    }

}